argparse==1.3.0
dj-database-url==0.3.0
django-extensions==1.5.6
django-filter==0.11.0
Django==1.8.4
djangorestframework==3.2.3
gunicorn==19.3
Markdown==2.6.2
newrelic==2.54.0.41
Pillow==2.9.0
django-import-export==1.0.0
psycopg2==2.7.4 # Postgresql adapter for Python
django-compress-storage==0.9.1 # Compress the files uploaded to the server
ipdb==0.11 # Allows for halting of code execution for debugging purposes
pytz==2015.4
six==1.9.0
whitenoise==2.0.3
wsgiref==0.1.2