<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">Keen CSV Importer </h3>
        <ul class="nav masthead-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="http://localhost:8000/api/rows">API</a></li>
          <li><a href="http://localhost:8000">Admin</a></li>
        </ul>
      </div>
    </div>
    <div class="instruction" ng-if="import_rows.length === 0">
      <p> Nothing has been imported yet. Let's get started by uploading a file.</p>
    </div>
    <div class="nav masthead-nav upload" style="float: none;">
      <input type="file" accept=".csv" name="docfile" onchange="angular.element(this).scope().uploadFile(this.files)"/>
    </div>
    <div ng-if="import_rows.length > 0">
      <div class="inner cover spacing">
        <table >
          <tr>
            <th>Id</th>
            <th>Observation Date</th>
            <th>Retail Sales Volume</th>
            <th>Retail Price</th>
            <th>ACV Distribution</th>
            <th>Competiton</th>
            <th>EDLP</th>
            <th>Trade Any Promo</th>
            <th>TV</th>
            <th>Print</th>
            <th>Online Display</th>
            <th>Pre-roll Video</th>
            <th>Paid Search</th>
            <th>Public Relations</th>
            <th>FSI</th>
            <th>Digital Coupon</th>
            <th>Shopper Marketing</th>
          </tr>
          <tr ng-repeat="row in import_rows">
            <td>{{ row["id"] }} </td>
            <td>{{ row["date"] }} </td>
            <td>{{ row["retail_sales_volume"] }} </td>
            <td>{{ row["retail_price"] }} </td>
            <td>{{ row["acv_dist"] }} </td>
            <td>{{ row["competition"] }} </td>
            <td>{{ row["edlp"] }} </td>
            <td>{{ row["trade_any_promo"] }} </td>
            <td>{{ row["tv"] }} </td>
            <td>{{ row["print_value"] }} </td>
            <td>{{ row["online_display"] }} </td>
            <td>{{ row["preroll_video"] }} </td>
            <td>{{ row["paid_search"] }} </td>
            <td>{{ row["public_relations"] }} </td>
            <td>{{ row["fsi"] }} </td>
            <td>{{ row["digital_coupon"] }} </td>
            <td>{{ row["shopper_marketing"] }} </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="mastfoot">
      <div class="inner">
      </div>
    </div>
  </div>
</div>
